@media (max-width: 370px) {
    .card {
        margin: 5px auto;
        padding: 0;
    }
}

@media (max-width: 500px) {
    body {
        margin: 0 !important;
    }

    .sign .sign-form {
        width: 500px;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        /* background-color: black; */
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 5px 5px 50px black;
    }

    .sign .sign-form form {
        margin: 20% auto;
        text-align: center;
    }

    .sign .sign-form form .sign-logo {
        height: 100px;
        margin-bottom: 50px;
    }

    .sign .sign-form form .form-control {
        height: 50px;
        margin-bottom: 10px;
        background-color: transparent;
    }

    .sign .sign-form form .d-grid {
        margin-top: 20px;
    }

    .sign .sign-form form .d-grid>.btn {
        height: 50px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .sign .sign-form p {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        color: black;
    }

    .sign .sign-form p .sign-link {
        margin-left: 10px;
        text-decoration: none;
        color: red;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 700px) {
    .sign .sign-form {
        width: 100%;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {}